.container{
    margin: auto;
    width: 60%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.grid-item{
    display: block;
    background-color: cornflowerblue;
    padding: 10px;
}



p{
    margin: 0;
}

@media only screen and (min-width: 768px){
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid-item:first-child{
        grid-row-start: 1;
        grid-row-end: 4;
    }
    
    .grid-item:nth-child(2){
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
    .grid-item:nth-child(3){
        grid-column-start: 3;
        grid-column-end: 4;
    }
    
    .grid-item:last-child{
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
}