
$der-back-color: #CBC1B1;
$der-hover-color: #7C7474;
$der-txt-color: #000000;


body{
    margin: 0px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.1em;
    background: #E5E5E5;
}

h1{
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

@import "_header.scss";
@import "_footer.scss";
@import "_hero-img.scss";
@import "_recom.scss";
@import "_button.scss";
@import "_practical-info.scss";
@import "_contacts.scss";





