$bright-color: #CAD5CA;
$mid-color: #363636;
$dark-color: #1b191e;

body{
    margin: 0px;
    padding: 0px;
    background-color: $dark-color;

    font-family: 'Press Start 2P', cursive;
}

@import "_header.scss";
@import "_main.scss";
@import "_footer.scss";

.main-butt{
    background-color: #CD3C3C;
    color: $dark-color;
}